<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recherche de livres</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />

</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">

        <h1>Recherche de livres</h1>

        <hr>

        <form action="#" th:action="@{/recherche}" th:object="${search_form}" method="post">

            <div class="row">

                <div class="input-group col-xl mb-2 mb-xl-0">
                    <div class="input-group-prepend">
                        <label for="bookTitleInput" class="input-group-text">Titre</label>
                    </div>
                    <input type="text" class="form-control" id="bookTitleInput" th:field="*{bookTitle}" />
                </div>

                <div class="input-group col-xl mb-2 mb-xl-0">
                    <div class="input-group-prepend">
                        <label for="authorNameInput" class="input-group-text">Auteur</label>
                    </div>
                    <input type="text" class="form-control" id="authorNameInput" th:field="*{authorName}" />
                </div>

                <div class="input-group col-xl mb-2 mb-xl-0">
                    <div class="input-group-prepend">
                        <label for="publisherNameInput" class="input-group-text">Editeur</label>
                    </div>
                    <input type="text" class="form-control" id="publisherNameInput" th:field="*{publisherName}" />
                </div>

                <div class="col-12 col-xl-auto">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>

            </div>


        </form>

        <hr>

        <!--/* NO Result */-->
        <div th:if="${is_empty_result == null}">

            <div class="alert alert-primary">
                Pour rechercher un livre veuillez utiliser au moins un critère de recherche et cliquer sur le bouton
                valider.
            </div>

        </div>

        <!--/* NO Result */-->
        <div th:if="${is_empty_result}">

            <h2>Résultat(s) :</h2>

            <div class="alert alert-warning">
                Aucun livre ne correspond à la recherche !
            </div>

            <div class="alert alert-primary">
                Pour rechercher un livre veuillez utiliser au moins un critère de recherche et cliquer sur le bouton
                valider.
            </div>

        </div>

        <!--/* Result of the book research */-->
        <div th:unless="${#lists.isEmpty(books_found)}">

            <h2>Résultat(s) :</h2>

            <div class="row">

                <!--/* Book card */-->
                <div th:each="book : ${books_found}" class="card col-xl-6 border-0 p-2">

                    <div class="row g-0 border border-dark border-2 rounded h-100">
                        <div class="col-md-4 bg-dark d-flex align-items-center justify-content-center">
                            <img th:src="${book.imgURL}" class="img-fluid" alt="Image de la couverture du livre.">
                        </div>
                        <div class="col-md-8 border-top-md-start-2 border-dark pb-auto">
                            <div class="card-body">
                                <h3 th:text="${book.title}" class="card-title mb-0">Card title</h3>
                                <hr class="my-2">
                                <div class="mt-2">
                                    <div> Auteur(s) :
                                        <span th:each="author, iTrack : ${book.authors}">
                                            <span th:text="${author.name}">Author</span>
                                            <span th:unless="${iTrack.last}">/</span>
                                        </span>
                                    </div>
                                    <div>Editeur : <span th:text="${book.publisher.name}">Publisher</span></div>
                                    <div>Edition : <span th:text="${book.publicationDate}">00/00/0000</span></div>
                                </div>

                                <hr class="my-2">

                                <div class="mb-2">
                                    Exemplaires : <span th:text="${#lists.size(book.exemplaries)}">7</span>
                                </div>

                                <!--/* Display disponibility */-->
                                <div th:if="${book.isAvailable}">
                                    <!--/* Loop on libraries */-->
                                    <div th:each="library : ${book.getExemplariesByLibrary()}"
                                        class="alert alert-success py-1 mt-2 mb-0">
                                        <span th:text="${library.key}">Bibliothèque n°1</span>
                                        :
                                        <span th:text="${library.value}">42</span>
                                    </div>
                                </div>

                                <!--/* Display unavailability */-->
                                <div th:unless="${book.isAvailable}">
                                    <!--/* Loop on libraries */-->
                                    <div class="alert alert-danger py-1 mt-2 mb-0">
                                        Indisponible
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>
