<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utilisateurs</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Utilisateurs</h1>

    <div class="row" th:unless="${#lists.isEmpty(users)}">
        <div th:each="user : ${users}" class="border my-1">
            <a th:href="@{|/users/${user.id}|}" >
                <p th:text= "${user.pseudo}">Pseudo</p>
                <p th:text= "${user.email}">Email@email.com</p>
                <p th:text= "${user.password}">******</p>
            </a>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</body>
</html>